
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { 
	position: absolute;
    z-index: 9;
    width: 100%;
    top: -39px;
    right: 9px;
    direction: ltr !important;
}
.customNavigation a{
	border: 1px solid #b89788;
    background-color: #b89788;
    font-size: 0;
    position: absolute;
    font-weight: 300;
    height: 30px;
    width: 30px;
    line-height: 26px;
    padding: 0px 10px;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.customNavigation a.prev {
	right: 31px;
}

.product-image .customNavigation a.prev {left:0; }
.product-image .customNavigation a.next {right:-7px; }
.product-image  .customNavigation a {top: -7px;}

.customNavigation a.prev:hover 	{ 
	background: #000000;
    border-color: #000000;
}

.customNavigation a.next {
	right:0;
}

.customNavigation a.next:hover 	{ 
	background: #000000;
    border-color: #000000;
}



@media (max-width:1230px) {
   /* .customNavigation a.prev{ left: -10px; }
	.customNavigation a.next{ right: -10px;  }*/
}
@media (max-width: 767px) {
	/*.customNavigation a.prev{ left: 0px; }
	.customNavigation a.next{ right: 0px; }*/
}
